.menu {
  width: calc(100% - (var(--spacing) * 2));
  max-width: var(--max-width);
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: var(--spacing);
  display: grid;
  grid-template-columns: var(--grid-template-columns-3);
  grid-column-gap: var(--spacing);
  height: calc(100% - (var(--spacing) * 2));
  z-index: 1;

  .menu-items {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .menu-item {
    margin: var(--spacing) 0;
    flex: 0 0 auto;
    transition: 0.3s all ease;
  }
  .mobile-menu-toggle {
    display: none;
    opacity: 0;
    transition: 0.2s all ease;

    .bar-1,
    .bar-2,
    .bar-3 {
      transition: 0.2s all ease;
    }
  }
  .title {
    margin: var(--spacing) 0;
    border-radius: var(--border-radius);
    h1 {
      transition: 0.3s all ease;
      font-variation-settings: "wdth" 20, "wght" 600;
      color: var(--darkest);
    }
    &:focus {
      outline:none;
      h1 {
        font-variation-settings: "wdth" 20, "wght" 800;
      }
    }
  }
  .navigation {
    margin-top: 0px;
  }

  .dark-mode-toggle {
    width: 100%;
    .toggle-contain {
      width: calc(var(--toggle-size) * 2);
      border-radius: calc(var(--toggle-size) / 2);
      height: var(--toggle-size);
      background-color: var(--lightest);
      padding: 0px;
      position: relative;
      transition: 0.3s all ease;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 4px var(--black);
      }

      &:hover {
        background-color: var(--lighter);
        .toggle {
          transition: 0.2s all ease;
        }

        .sun,
        .moon {
          padding: calc(var(--toggle-size) / 6);
        }
      }

      .toggle {
        width: var(--toggle-size);
        height: var(--toggle-size);
        border-radius: calc(var(--toggle-size) / 2);
        margin: 0px;
        position: relative;
      }

      .dark-mode-on {
        transform: translate(var(--toggle-size), 0px);
        .sun {
          opacity: 0;
        }
        .moon {
          opacity: 1;
        }
      }

      .sun,
      .moon {
        width: 100%;
        padding: calc(var(--toggle-size) / 4);
        border-radius: 40px;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        top: 0;
        transition: 0.1s all ease-out;
      }

      .sun {
        left: 0px;
        opacity: 1;
      }

      .moon {
        right: 0px;
        opacity: 0;
      }
    }
  }

  .about {
    flex: 0 0 auto;
  }

  .contact {
    flex: 0 0 auto;
  }
  .navigation {
    flex: 1 1 auto;
    .link {
      background-color: transparent;
      width: 100%;
      display: block;
      transition: 0.3s all ease;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      padding: 0px;
      border-radius: 12px;
      margin: calc(var(--spacing) / 4) 0px;
      cursor: pointer;
      h3 {
        flex: 1 1 auto;
        align-content: flex-end;
        text-align: left;
        color: var(--darker);
        padding: 0px;
        text-decoration: none;
        transition: 0.3s all ease;
        font-variation-settings: "wdth" 75, "wght" 400;
      }

      &:hover {
        h3 {
          color: var(--darkest);
          margin: 0px 0px;
          font-variation-settings: "wdth" 75, "wght" 800;
        }
      }

      &:active, &:focus {
        outline: none;

        h3 {
          color:var(--darkest);
          font-variation-settings: "wdth" 75, "wght" 800;
        }
      }
    }
  }
  .external {
    flex: 0 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    top: 0px;
    padding: calc(var(--spacing) / 2) var(--spacing);
    z-index: 4;
    width: 100%;
    transform: translate(0px);
    left: 0px;
    background-color: var(--white-overlay-98);
    backdrop-filter: blur(8px);
    grid-template-columns: 1fr;
    height: auto;
    transition: 0.3s all ease;
    max-height: 80px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px var(--lighter);

    .mobile-menu-toggle {
      background-color: transparent;
      display: block;
      width: 52px;
      height: 52px;
      top: 15px;
      right: var(--spacing);
      border-radius: var(--border-radius);
      padding: 8px;
      position: fixed;
      z-index: 1000;
      opacity: 1;
      cursor: pointer;

      .bar-1,
      .bar-2,
      .bar-3 {
        width: 100%;
        height: 3px;
        position: relative;
        background-color: var(--black);
      }

      .bar-1 {
        transform: translate(0px, -10px);
      }

      .bar-3 {
        transform: translate(0px, 10px);
      }

      &:hover {
        background-color: var(--lightest);
      }
      &:active {
        background-color: var(--lighter);
      }
    }
    .navigation,
    .dark-mode-toggle,
    .footer {
      flex: 0 0 0px;
      margin: 0px;
      opacity: 0;
      pointer-events: none;
    }
    .menu-items {
      .title {
        width: calc(100% - 80px);
        margin: calc(var(--spacing) / 2) 0px;
        h1 {
          margin: 0px;
        }
        &:hover {
          background-color: transparent;
          margin: calc(var(--spacing) / 2) 0px;
          h1 {
            margin: 0px;
          }
        }
      }
      .navigation {
        display: flex;
        flex-direction: column;
        .link {
          flex: 0 0 auto;
          margin: calc(var(--spacing) / 2) 0px;
          background-color: var(--lightest);
          h3 {
            padding: calc(var(--spacing) / 2);
            text-align: center;
          }
          &:hover {
            background-color: var(--lighter);
          }
        }
      }
    }
  }
  .open {
    justify-content: center;
    max-height: 100%;
    box-shadow: 0px 0px 100px 10000px var(--black-overlay-40);

    .navigation,
    .dark-mode-toggle,
    .footer {
      flex: 0 0 auto;
      margin: var(--spacing) 0;
      opacity: 1;
      pointer-events: auto;
    }

    .mobile-menu-toggle {
      background-color: var(--lightest);

      .bar-1 {
        transform: translate(0px, 3px) rotate(-45deg);
        transform-origin: center;
      }

      .bar-2 {
        opacity: 0;
        transform: scale(0.3);
      }

      .bar-3 {
        transform: translate(0px, -3px) rotate(45deg);
        transform-origin: center;
      }
      &:hover {
        background-color: var(--lighter);
      }

      &:active {
        background-color: var(--light);
      }
    }
  }
}

@keyframes planet-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
