.bookmarks {
  width:100%;
  position:static;
  .bookmark {
    border-top:1px solid var(--black12);
    padding:var(--spacing) 0 ;
    width:100%;
    transition:0.15s all ease-out;
    &:hover {
      padding:var(--spacing);
    }
    h4 {
      font-weight:700;
      color:var(--black80);
      margin:0px;
    }
    p {
      padding:calc(var(--spacing)/2) 0 0 0 ;
      color:var(--black60);
      font-size: var(--font-size-s);
      line-height: var(--font-size-m);
    }
  }
}