.intro {
  .summary {
    margin: var(--spacing) 0 var(--spacing) 0;
    font-variation-settings: "wdth" 75, "wght" 600;
    color: var(--black);
    width: 80%;
  }

  .sub-summary {
    display: flex;
    h3 {
      margin: calc(var(--spacing) / 2.5) 0 calc(var(--spacing) * 3)
        calc(var(--spacing) / 4);
    }
    .icon {
      width: 52px;
      height: 52px;
      padding-right: calc(var(--toggle-size) / 8);
      opacity: 0.4;
      color: var(--black);
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
