.intro {
  border-radius: var(--border-radius-large);
  padding: calc(var(--spacing) * 3) 0;
  margin:0;
  h1 {
    color: var(--white);
    text-align: left;
  }

  h4 {
    color:var(--light);
  }
}
