@import './variables.scss';

.component-container {
    width:100%;
    max-width:1200px;
    margin:0px auto;
    display:grid;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-gap: var(--grid-gap);
    .component {
        grid-column: span 1;
        height:auto;
        display:flex;
        flex-direction: column;

        .external {
            height:40px;
            border-top:1px solid var(--lighter);
            width:100%;
            display:block;
            transition:0.3s all ease;
            background-color:var(--white);
            flex:1 0 40px;
            display:flex;
            align-items: center;
            justify-content: center;

            p {
                flex: 1 1 auto;
                align-content:flex-end;
                text-align: right;
                color:var(--dark);
                line-height:100%;
                padding:0px
            }

            .title {
                font-weight:500;
                align-content:flex-start;
                text-align: left;
            }
            
            &:hover {
                background-color:var(--lighter);
                padding:0px 8px;
                p {
                    color:var(--darker);
                }
            }

            &:active {
                background-color:var(--light);
                padding:0px 16px;

                p {
                    color:var(--darker);
                }
            }

            &:focus {
                outline:4px solid var(--black);
                outline-offset: -4px;
                padding:0px 16px;
            }

            &:last-of-type {
                border-bottom:1px solid var(--lighter);
            }
        }
        
    }
    .project {
        background-color:var(--lightest);
        transition:0.3s all ease;
        cursor:pointer;
        min-height:200px;

        &:hover {
            background-color:var(--lighter);
        }

        &:active {
            background-color:var(--light);
        }

        &:focus {
            outline:4px solid var(--black);
            outline-offset: -4px;
            padding:0px 16px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .component-container {
        grid-template-columns: repeat(3, [col] 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .component-container {
        grid-template-columns: repeat(2, [col] 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .component-container {
        grid-template-columns: repeat(1, [col] 1fr);
    }
}