@import './variables.scss';

header {
    width: 100%;
    max-width: 1200px;
    margin:0px auto;

    .container {
        display:grid;
        grid-template-columns: repeat(4, [col] 1fr);
        grid-template-rows: 1, 1fr;
        grid-gap: var(--grid-gap);
        margin-bottom:var(--grid-gap);
        margin-top:var(--grid-gap);
        h1 {
            grid-column: col / span 1;
            grid-row: row 1;
            a {
                color:var(--black)
            }
        }
        h2 {
            grid-column: col 2 / span 1;
            grid-row: row 1;
        }
        @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(3, [col] 1fr);
        }
        
        @media only screen and (max-width: 800px) {
            grid-template-columns: repeat(2, [col] 1fr);
        }
        
        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, [col] 1fr);
            margin-bottom:0px;
            margin-top:0px;

            h2 {
                text-align: right;
            }
        }
    }
}

