@import './variables.scss';

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--white);
}

.page-container {
  width:100%;
  max-width:var(--max-width);
  margin: 0 auto;
  height:100%;
  display:grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-gap: var(--grid-gap);
  margin-bottom:var(--grid-gap);
  margin-top:var(--grid-gap);

  h2 {
    grid-column-start: 1;
    grid-column-start: 2;
    grid-row: 1;
    padding:var(--grid-gap) 0px;
  }
}