.projects {
    width:100%;
    display:grid;
    grid-template-columns: var(--grid-template-columns-2);
    grid-gap: var(--spacing);
    grid-column-start:2;
    grid-column-end:4;
    z-index:2;
    opacity:0;
    animation:fadeUp 0.6s forwards 0.1s ease;
    .component {
        grid-column: span 1;
        height:auto;
        display:flex;
        flex-direction: column;
        
    }
}

@media only screen and (max-width: 1000px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        grid-column-start:0;
    grid-column-end:1;
    }
}