.project-container {
    border-radius: 10px;
    overflow: hidden;
}

.project {
  background-color: var(--lightest);
  transition: 0.3s all ease;
  cursor: pointer;
  min-height: 200px;

  &:hover {
    background-color: var(--lighter);
    
    h3, h4 {
      color:var(--black);
    }
  }
  
  &:active {
    background-color: var(--light);
  }

  &:focus {
    outline: 4px solid var(--black);
    outline-offset: -4px;
    padding: 0px 16px;
  }
  .post-image {
    width: auto;
    height: 100%;
  }

  h3, h4 {
    transition:0.3s all ease;
  }

  h3 {
    padding-left: var(--spacing);
    font-size: var(--font-size-xs);
    line-height:var(--font-size-s);
    font-weight:600;
  }
  h4 {
    padding-left: var(--spacing);
    padding-bottom: var(--spacing);
    font-size: var(--font-size-xs);
    line-height:var(--font-size-s);
  }
}
