@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --black: #000000;
  --darkest: #222222;
  --darker: #444444;
  --dark: #666666;
  --light: #ababab;
  --lighter: #dadada;
  --lightest: #f1f1f1;
  --white: #ffffff;

  --theme-1: #0064ea;

  --whole-component: 100%;
  --half-component: 50%;

  --grid-gap: 2rem;
  --max-width: 1400px;

  --toggle-size:40px;

  --grid-template-columns: repeat(3, 1fr);

  font-family: "Poppins", sans-serif;
}
.dark-mode {
  --black: #ffffff;
  --darkest: #f1f1f1;
  --darker: #dadada;
  --dark: #ababab;
  --light: #666666;
  --lighter: #444444;
  --lightest: #222222;
  --white: #000000;
}

body {
  margin: 0 var(--grid-gap);
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div {
  padding: 0px;
  margin: 0px;
  color: var(--black);
}
h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
h2 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--dark);
}

h4 {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: var(--dark);
}


.page-title {
  animation: titleIn 0.3s ease forwards;
}

@keyframes titleIn {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--dark);
}

h1 a {
  &:hover {
    text-decoration: underline;
  }
}

a {
  color: var(--darkest);
  text-decoration: none;
}
