@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --black: rgba(0,0,0,1);;
  --darkest: rgba(0,0,0,0.9);
  --darker: rgba(0,0,0,0.8);
  --dark: rgba(0,0,0,0.6);
  --light: rgba(0,0,0,0.24);
  --lighter: rgba(0,0,0,0.12);
  --lightest: rgba(0,0,0,0.08);
  --white: #ffffff;

  --black-overlay-40: rgba(0,0,0,0.4);
  --white-overlay-98: rgba(255,255,255,0.90);

  --theme-1: #0064ea;

  --toggle-size: 40px;

  --spacing: 2rem;
  --max-width: 1400px;
  --grid-template-columns-3: 2fr 4fr 4fr;
  --grid-template-columns-2: repeat(2, 1fr);
  --grid-template-columns-1: 1fr;


  --font-size-xl: 60px;
  --font-size-l: 40px;
  --font-size-m: 32px;
  --font-size-s: 24px;
  --font-size-xs: 16px;

  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1000px) {
  :root {
    --grid-template-columns-3: 3fr 7fr;
    --grid-template-columns-2: 1fr;
    --spacing: 1.4rem;

    --font-size-xl: 32px;
    --font-size-l: 32px;
    --font-size-m: 28px;
    --font-size-s: 24px;
    --font-size-xs: 16px;
  }
}


@media only screen and (max-width: 600px) {
  :root {
    --grid-template-columns: 1;
    --spacing: 1rem;

    --font-size-xl: 32px;
    --font-size-l: 28px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xs: 16px;
  }
}
.dark-mode {
  --black: #ffffff;
  --darkest: #f1f1f1;
  --darker: #dadada;
  --dark: #ababab;
  --light: #666666;
  --lighter: #444444;
  --lightest: #222222;
  --white: #000000;
  --white-overlay-98: rgba(0,0,0,0.98);
  --black-overlay-40: rgba(100,100,100,0.4);
  
}

body {
  margin: 0 var(--spacing);
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div {
  padding: 0px;
  margin: 0px;
  color: var(--black);
}
h1 {
  font-size: var(--font-size-m);
  line-height: var(--font-size-m);

  font-weight: 900;
}
h2 {
  font-size: var(--font-size-s);
  line-height: var(--font-size-m);
  font-weight: 400;
}

h3 {
  font-size: var(--font-size-s);
  line-height: var(--font-size-m);
  font-weight: 400;
  color: var(--dark);
}

h4 {
  font-size: var(--font-size-xs);
  line-height: var(--font-size-s);
  font-weight: 400;
  color: var(--dark);
}

.page-title {
  animation: titleIn 0.3s ease forwards;
}

@keyframes titleIn {
  0% {
    opacity: 0;
    transform: translate(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--dark);
}

h1 a {
  &:hover {
    text-decoration: underline;
  }
}

a {
  color: var(--darkest);
  text-decoration: none;
}

@keyframes fadeUp {
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}
